:root{
    --subtitle-font-size: 18px;
    --subtitle-line-height: 27px;

    --Tablet__subtitle-font-size: 16px;
    --Tablet__subtitle-line-height: 24px;

    --Phone__subtitle-font-size: 16px;
    --Phone__subtitle-line-height: 150%;

    --header__font-size: 20px;
    --header__line-height: 100%;
    --adaptive__header__font-size: 18px;
    --adaptive__header__line-height: 21px;
    --header__font-size-adaptive: 20px;
    --header__line-height-adaptive: 100%;

    --header__status-color-default: #2C2D35;
    --header__status-color-hover: #598D66; 
    --header__status-color-active: #376B44;
    --header__status-bgclr-focus: #D4E8D9;

    --hero__status-color-hover: #F4F6F5;
    --hero__status-bgclr-hover: #598D66;
    --hero__status-color-focus: #598D66;
    --hero__status-bgclr-focus: #D4E8D9;
    --hero__status-color-active: #fff;
    --hero__status-bgclr-active: #376B44;

    --author--font-size: 18px;
    --author--line-height: 100%;
    --author--color: #86928B;

    --reproduction--subtitle-color: #2C2D35;
    --reproduction--font-size: 30px;
    --reproduction--line-height: 100%;
    --reproduction--color: #2C2D35;

    --price-font-size: 24px;
    --price-line-height: 100%;
    --price-color: #598D66;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Raleway", serif;
    font-weight: 500;
}
.lock-scroll{
    overflow: hidden;
}
.mobile{
    display: none;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #E1EDE6;
    padding-top: 1px;
}
.container{
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    margin-block: 32px;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo-img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.header__title{
    font-weight: 700;
    font-size: var(--header__font-size);
    line-height: var(--header__line-height);
    color: #598D66;
    margin-left: 8px;
}
.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
}
.header__list-link{
    font-size: var(--header__font-size);
    line-height: var(--header__line-height);
    color: #2C2D35;
}
.header__list-link:hover{
    color: #598D66;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.header__list-link:focus{
    background-color: #D4E8D9;
    color: #2C2D35;
}
.header__list-link:active{
    color: #376B44;
}
.header__card-btn{
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.header__card--img{
    width: 22px;
    height: 22px;
    object-fit: cover;
}
@media (max-width: 576px){
    .header{
        height: 123px;
    }
    .container{
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .header__wrapper{
        display: flex;
        flex-direction: column;
        margin-block: 0px;
        margin-top: 16px;
        row-gap: 15px;
    }
    .header__logo{
        margin: 0 auto;
    }
    .header__list{
        position: relative;
    }
    .header__list::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #C3D1C6;
    }
    .header__list-item{
        margin-top: 16px;
    }
    .header__list-link{
        font-size: 18px;
        line-height: 100%;
    }
}
@media(max-width: 475px){
    .container{
        max-width: 420px;
        margin: 0 auto;
        padding: 0px 15px;
    }
    .header__list::before{
        display: none;
    }
    .desktop-tablet{
        display: none;
    }
    .mobile{
        display: block;
    }
    
    .header{
        height: 130px;
        background-color: #fff;
    }
    .header__logo{
        display: flex;
        justify-content: center;
        margin-block: 16px;
    }
    .header__menu{
        background-color: #E1EDE6;
        min-height: 62px;
        padding-top: 1px;
    }
    .header__button-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 16px;   
    }
    .header__burger{
        border: none;
        background: none;
        width: 30px;
        height: 30px;
        padding: 0px;
    }
    .header__burger--img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .header__card{
        border: none;
        background: none;
        width: 24px;
        height: 24px;
        padding: 0px;
    }
    .header__card--img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .header__popup{
        display: none;
        position: fixed;
        top: 68px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.40);
        width: 100%;
        height: 100%;
    }
    .isActive{
        display: block;
    }
    .header__popup-content{
        width: 100%;
        min-height: 365px;
        display: flex;
        flex-direction: column;
        background-color: #E1EDE6;
    }
    .header__popup-close{
        border: none;
        background: none;
        width: 30px;
        height: 30px;
        margin-top: 16px;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    .header__popup-close--img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .header__list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
        row-gap: 50px;
    }
}



/*
    HERO
    SECTION

*/

.hero{
    width: 100%;
    min-height: 620px;
}
.hero__garden{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    column-gap: 30px;
}
.hero__image-wrapper{
    max-width: 540px;
    height: 621px;
    flex-grow: 1;
}
.hero__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero__about-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 540px;
    flex-grow: 1;
}
.hero__title{
    width: 100%;
    font-size: 60px;
    line-height: 66px;
    color: #2C2D35;
    margin-top: 145px;
}
.title__decoration{
    color: #598D66;
    font-size: 60px;
    line-height: 66px;
}
.hero__subtitle{
    width: 100%;
    color: #86928B;
    margin-top: 20px;
    font-size: var(--subtitle-font-size);
    line-height: var(--subtitle-line-height);
}
.hero__button{
    width: 227px;
    height: 65px;
    padding: 20px 60px;
    border: 1px solid #598D66;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    text-align: center;
    margin-top: 60px;
}
.hero__button:hover{
    background-color: var(--hero__status-bgclr-hover);
    color: var(--hero__status-color-hover);
}
.hero__button:focus{
    background-color: var(--hero__status-bgclr-focus);
    color: var(--hero__status-color-focus);
}
.hero__button:active{
    background-color: var(--hero__status-bgclr-active);
    color: var(--hero__status-color-active);
}
@media (max-width: 768px){
    .container{
        max-width: 720px;
        margin: 0 auto;
        padding: 0 auto;
    }
    /* 
        hero Tablet 690
    */
    .hero{
        min-height: 380px;
    }
    .hero__garden{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    .hero__image-wrapper{
        max-width: 330px;
        height: 380px;
        flex-grow: 1;
    }
    .hero__about-wrapper{
        max-width: 330px;
        flex-grow: 1;
    }
    .hero__title, .title__decoration{
        font-size: 40px;
        line-height: 40px;
        margin-top: 35px;
    }
    .hero__button{
        width: 210px;
        height: 60px;
        margin-top: 39px;
        padding: 20px 50px;
    }
}
@media (max-width: 576px){

    .container{
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .hero{
        min-height: 239px;
        margin-block: 50px;
    }
    .hero__garden{
        grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    }
    .hero__image-wrapper{
        max-width: 195px;
        height: 239px;
        flex-grow: 1;
    }
    .hero__about-wrapper{
        max-width: 285px;
        flex-grow: 1;
    }
    .hero__title, .title__decoration{
        font-size: 36px;
        line-height: 36px;
        margin-top: 0px;
    }
    .hero__subtitle{
        margin-block: 10px;
        font-size: var(--Tablet__subtitle-font-size);
        line-height: var(--Tablet__subtitle-line-height);
    }
    .hero__button{
        width: 178px;
        height: 50px;
        margin: 0px;
        padding: 15px 35px 10px 35px;
        font-size: 18px;
        line-height: 21px;
    }
}

@media (max-width: 475px){
    .container{
        max-width: 420px;
        margin: 0 auto;
        padding: 0px 15px;
    }
    .hero__image-wrapper{
        display: none;
    }
    .hero{
        margin-block: 60px;
    }
    .hero__garden{
        display: flex;
        justify-content: center;
    }
    .hero__about-wrapper{
        max-width: 335px;
    }
    .hero__title{
        max-width: 270px;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    .title__decoration{
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    .hero__subtitle{
        font-size: var(--Phone__subtitle-font-size);
        line-height: var(--Phone__subtitle-line-height);
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .hero__button{
        width: 154px;
        height: 50px;
        font-size: 18px;
        line-height: 100%;
        padding-inline: 25px;
    }
}





.reproduction{
    width: 100%;
    min-height: 1564px;
    margin-top: 69px;
}
.reproduction__title-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 44px;
}
.reproduction__title{
    font-size: 40px;
    line-height: 100%;
    color: #2C2D35;
}
.reproduction__navigation{
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}
.reproduction__button-nav{
    min-width: 108px;
    font-size: 20px;
    line-height: 100%;
    color: #2C2D35;
    border-radius: 20px;
    background-color: #D4E8D9;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}
.reproduction__button-nav:hover{
    background-color: #D4E8D9;
    border: 2px solid #598D66;
}
.reproduction__button-nav:focus{
    background-color: #376B44
}
.active{
    color: #F4F6F5;
    background-color: #376B44;
}
.reproduction__list-wrapper{
    margin-top: 30px;
}
.reproduction__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 30px;
}

.reproduction__product-card{
    max-width: 350px;
    min-height: 730px;
    padding: 20px 20px 30px 20px;
    background-color: #E1EDE6;
}
.reproduction__img{
    max-width: 310px;
    min-height: 422px;
    object-fit: cover;
}
.reproduction__author{
    font-size: var(--author--font-size);
    line-height: var(--author--line-height);
    color: var(--author--color);
    margin-top: 20px;
}
.reproduction__name{
    font-size: var(--reproduction--font-size);
    line-height: var(--reproduction--line-height);
    color: var(--reproduction--color);
    margin-top: 10px;
}
.reproduction__subtitle{
    font-size: var(--author--font-size);
    line-height: var(--author--line-height);
    color: var(--reproduction--subtitle-color);
    margin-top: 8px;
}
.reproduction__price-item{
    font-size: var(--price-font-size);
    line-height: var(--price-line-height);
    color: var(--price-color);
    margin-top: 30px;
}
.reproduction__add-to-shopping-card{
    padding: 20px 60px;
    border: 1px solid #598D66;
    background-color: #E1EDE6;
    color: #598D66;
    font-size: 20px;
    line-height: 100%;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}
.reproduction__add-to-shopping-card:hover{
    background-color: #598D66;
    color: #F4F6F5;
}
.reproduction__add-to-shopping-card:focus{
    background-color: #D4E8D9;
    border: 1px solid #598D66;
    color: #598D66;
}

@media (max-width: 768px) {
    .reproduction{
        min-height: 2323px;
        margin-top: 75px;
    }
    .reproduction__title-wrapper{
        min-height: 43px;
    }
    .reproduction__title{
        font-size: 30px;
        line-height: 110%;
    }
    .reproduction__product-card{
        max-width: 330px;
    }
    .reproduction__img{
        max-width: 290px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .reproduction{
        min-height: 1709px;
        margin-top: 50px;
    }
    .reproduction__title-wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 408px;
        max-height: 87px;
    }
    .reproduction__title{
        font-size: 24px;
    }
    .reproduction__button-nav{
        min-width: 101px;
        font-size: 18px;
    }
    .reproduction__list-wrapper{
        margin-top: 20px;
    }
    .reproduction__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 30px;
    }
    .reproduction__product-card{
        max-width: 240px;
        min-height: 514px;
    }
    .reproduction__img{
        max-width: 200px;
        min-height: 250px;
    }
    .reproduction__author{
        font-size: 16px;
        line-height: 100%;
    }
    .reproduction__name{
        font-size: 23px;
        line-height: 100%;
    }
    .reproduction__subtitle{
        font-size: 16px;
        line-height: 100%;
    }
    .reproduction__price-item{
        font-size: 20px;
        line-height: 100%;
    }
    .reproduction__add-to-shopping-card{
        padding: 14px 56px;
        font-size: 18px;
        line-height: 100%;
        margin-top: 10px;
    }
    .margin__price{
        margin-top: 15px;
    }
}
@media (max-width: 475px){
    .container{
        max-width: 420px;
        margin: 0 auto;
        padding: 0px 15px;
    }
    .reproduction__title-wrapper{
        max-width: 100%;
        
    }
    .reproduction__navigation{
        gap: 20px;
    }
    .reproduction__button-nav{
        padding: 10px;
    }
    .reproduction__list-wrapper{
        margin-top: 20px;
    }
    .reproduction__list{
        display: flex;
        flex-direction: column;
    }
    .reproduction__product-card{
        max-width: 100%;
        min-height: 514px;
    }
    .reproduction__img{
        min-width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
}
/* section 
    new-collection
*/



.new-collection{
    width: 100%;
    min-height: 574px;
    background-image: url('../img/icons/background-collection.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    padding: 1px;
}
.new-collection__title-wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    max-width: 521px;
    max-height: 80px;
    margin-top: 70px;
}
.new-collection__star{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.new-collection__title{
    font-size: 40px;
    line-height: 100%;
    color: #F4F6F5;
}
.new-collection__subtitle{
    max-width: 540px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}
.new-collection__subtitle:first-of-type{
    margin-block: 20px;
}
.new-collection__subtitle:last-of-type{
    margin-bottom: 60px;
}
.new-collection__link{
    max-width: 257px;
    max-height: 67px;
    padding: 20px 60px;
    background-color: #EEDB6D;
    color: #2C2D35;
    font-size: 20px;
    line-height: 100%;
    display: block;
}
.new-collection__link:hover{
    background-color: #FAEB97;
}
.new-collection__link:focus{
    border: 1px solid #A38314;
}
.new-collection__link:active{
    background-color: #D9B949;
}
@media (max-width: 768px){
    .container{
        max-width: 720px;
        margin: 0 auto;
        padding: 0 auto;
    }
    .new-collection{
        width: 100%;
        min-height: 502px;
        background-image: url('../img/icons/pic_background.jpg');
    }
    .new-collection__title-wrapper{
        max-width: 450px;
        max-height: 60px;
    }
    .new-collection__star{
        width: 60px;
        height: 60px;
    }
    .new-collection__title{
        font-size: 30px;
    }
    .new-collection__subtitle{
        max-width: 690px;
    }
    .new-collection__subtitle:first-of-type{
        margin-block: 30px;
    }
    .new-collection__subtitle:last-of-type{
        margin-bottom: 30px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .new-collection{
        width: 100%;
        min-height: 502px;
        background-image: url('../img/icons/bg-col.jpg');
    }
    .new-collection__title-wrapper{
        max-width: 331px;
        max-height: 50px;
    }
    .new-collection__star{
        width: 50px;
        height: 50px;
    }
    .new-collection__title{
        font-size: 24px;
    }
    .new-collection__subtitle{
        max-width: 510px;
    }
    .new-collection__subtitle:first-of-type{
        margin-block: 16px;
    }
    .new-collection__subtitle:last-of-type{
        margin-bottom: 60px;
    }
}
@media (max-width: 475px){
    .container{
        max-width: 420px;
        margin: 0 auto;
        padding: 0px 15px;
    }
    .new-collection{
        width: 100%;
        min-height: 553px;
        background-image: url('../img/icons/bg-col.jpg');
    }
    .new-collection__title-wrapper{
        width: 100%;
        max-height: 72px;
    }
    .new-collection__subtitle{
        width: 100%;
        font-size: 16px;
        line-height: 140%;
    }
    .new-collection__subtitle:first-of-type{
        margin-block: 20px;
    }
    .new-collection__subtitle:last-of-type{
        margin-bottom: 40px;
    }
}

/* 
    OUR-TEAM SECTION
*/

.our-team{
    width: 100%;
    max-height: 440px;
    margin-block: 70px;
}
.our-team__wrapper{
    display: flex;
    justify-content: space-between;
}
.our-team__img-wrapper{
    width: 445px;
    height: 440px;
}
.our-team__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-team__content-wrapper{
    margin-top: 124px;
}
.our-team__title{
    color: #2C2D35;
    font-size: 40px;
    line-height: 110%;
}
.our-team__subtitle{
    font-size: 18px;
    line-height: 150%;
    color: #2C2D35;
    margin-block: 20px;
    max-width: 635px;
}
.our-team__icons-wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    max-width: 300px;
}
.our-team__icons-people{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

@media (max-width: 768px){
    .container{
        max-width: 720px;
        margin: 0 auto;
        padding: 0 auto;
    }
    .our-team{
        max-height: 825px;
    }
    .our-team__wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .our-team__img-wrapper{
        max-width: 510px;
        max-height: 504px;
    }
    .our-team__content-wrapper{
        margin-top: 0px;
    }
    .our-team__subtitle{
        margin-block: 30px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .our-team{
        width: 100%;
        min-height: 656px;
        margin-block: 50px;
    }
    .our-team__wrapper{
        row-gap: 30px;
    }
    .our-team__img-wrapper{
        max-width: 375px;
        max-height: 370px;
    }
}

/* 
    footer
*/


.footer{
    width: 100%;
    height: 168px;
    background-color: #E1EDE6;
    padding-top: 1px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.footer__left-wrapper, .footer__center-wrapper, .footer__right-wrapper{
    margin-block: 23px;
}
.footer__logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
    max-width: 143px;
    max-height: 35px;
}
.footer__logo-img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.footer__logo-title{
    font-size: 20px;
    line-height: 100%;
    color: #598D66;
}
.footer__phone{
    display: block;
    font-size: 20px;
    line-height: 100%;
    color: #2C2D35;
    margin-top: 41px;
}
.footer__phone-description{
    margin-top: 8px;
    font-size: 18px;
    line-height: 100%;
    color: #86928B;
}
.footer__title{
    font-size: 20px;
    line-height: 100%;
    color: #2C2D35;
    margin-bottom: 6px;
}
.footer__title:hover{
    color: #598D66;
}
.footer__title:focus{
    background-color: #D4E8D9;
    color: #2C2D35;
}
.footer__title:active{
    color: #376B44;
}
.footer__center-wrapper{
    display: flex;
    /* justify-content: column; */
    width: 445px;
    max-height: 122px;
    column-gap: 60px;
}
.footer__list{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.footer__list-item, .footer__list-text{
    font-size: 18px;
    line-height: 150%;
    color: #86928B;
}
.footer__social-icons{
    display: flex;
    justify-content: space-between;
    max-width: 132px;
    max-height: 24px;
}
.footer__icons-img{
    max-width: 24px;
    max-height: 24px;
    object-fit: cover;
}
.footer__copyright{
    margin-top: 10px;
    color: #86928B;
    font-size: 12px;
    line-height: 120%;
}

@media (max-width: 768px) {
    .container{
        max-width: 720px;
        margin: 0 auto;
        padding: 0 auto;
    }
    .footer{
        min-height: 250px;
    }
    .footer__left-wrapper, .footer__center-wrapper, .footer__right-wrapper{
        margin-block: 0px;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer__left-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 23px;
        margin-bottom: 30px;
        width: 100%;
    }
    .footer__phone{
        margin: 0px;
    }
    .footer__social-icons{
        display: flex;
        column-gap: 30px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .footer{
        min-height: 319px;
        position: relative;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .footer__right-wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 32px;

    }
    .footer__right-wrapper::before{
        content: "";
        position: absolute;
        bottom: 85px;
        width: 100%;
        border: 1px solid #C3D1C6;
    }
    .footer__center-wrapper{
        width: 100%;
        max-height: 113px;
        display: flex;
        justify-content: space-between;
        column-gap: 0px;
    }
}